* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

body {
  background-color: #15202b;
  color: #ffff;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.all {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
}

.all .menu {
  height: 100vh;

  display: flex;
  justify-content: center;
}

.all .menu ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.all .menu ul li a .menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  font-weight: 600;
}

.all .menu ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.all .menu ul li a img {
  margin-right: 10px;
}

.all .menu ul li:hover {
  background-color: #f45d222f;
  border-radius: 50px;
}

.all .menu ul li a {
  color: white;
  text-decoration: none;
}

/* CONTENT */

.all .content {
  border: 1px solid rgba(128, 128, 128, 0.52);
  border-top: none;
  width: 90%;
}

.all .content .card:not(:nth-child(1)) {
  border-top: none;
}

.all .content .card {
  width: auto;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  border: 1px solid rgba(128, 128, 128, 0.52);
  border-right: none;
  border-left: none;
  cursor: pointer;
  min-height: 10px;
  padding: 8px 10px;
}

.all .content .card:hover {
  background-color: rgba(128, 128, 128, 0.123);
}

.all .content img {
  margin-right: 30px;
  width: 45px;
  border-radius: 9999px;
  margin-top: 2px;
}

.all .content .card .card__body {
  padding: 10px 5px;
}

.all .content .card .card__bottom {
  padding: 10px 0;
}

.all .content .card .card__bottom span {
  font-size: 9pt;
  font-style: italic;
}

/* MODAL  NEW*/

.fondo-modal {
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.226);
  position: absolute;
  height: 100vh;
  width: 100%;
  display: none;
  z-index: 1;
}

.modal-a {
  background-color: white;
  width: 600px;
  height: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 30px;
}

.modal_cerrar {
  background: white;
  position: absolute;
  right: -20px;
  color: crimson;
  top: -20px;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.modal_titulo {
  color: white;
  font-size: 40px;
  background-color: crimson;
  width: 100%;
  padding: 30px 0;
  border-top-left-radius: 30px;
  text-align: center;
}
.modal_mensaje {
  padding: 5px 30px;
  color: #15202b;

}
.modal_botones {
  width: 100%;

  border-top: whitesmoke 1px;
  padding-top: 1px;
  display: flex;
  justify-content: space-evenly;
}

.boton {
  background: white;
  padding: 8px 30px;
  color: crimson;
  text-decoration: none;
  border-radius: 25px;
  border: 1px solid crimson;
}
.boton:hover {
  background: crimson;
  color: white;
}

/* INPUT */


input[type="text"] {
  width: 100%;
  padding: 10px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* MEDIA QUERIES */

@media (max-width: 1024px) {
  .menu__text {
    display: none;
  }

  .all .menu ul li a img {
    margin-right: 0;
  }
}
